<%= render "layouts/menu" %>

<div class="container">
  <h3 class="text-center">Mesas</h3>
  <div>
    <%= link_to 'Adicionar Mesa', new_table_path, :class => "btn btn-primary", :style => "color: white" %>
  </div>
  <div class="d-flex" style="margin-top: 10px">
    <% @tables.each do |table| %>
      <div class="card" style="width: 18rem; margin-left: 12px;">
        <div class="card-body">
          <h5 class="card-title">Mesa: <%= table.number %></h5>
          <%= link_to 'Entrar na mesa', table, :class => "btn btn-primary", :style => "color: white" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
