<nav class="navbar navbar-light bg-primary" style="margin-bottom: 20px;">
  <div class="container">
    <a class="navbar-brand" style="color: white;" href="<%= tables_path %>">
      Restaurante do Zé
    </a>
  </div>
</nav>
